header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem var(--padding-inline);
  background-color: var(--color-dark-blue);
  color: white;
  text-align: center;
}

header h1 {
  font-size: var(--font-size-h1);
}
