.portrait {
  width: var(--img);
  float: left;
  padding-right: 20px;
}

main {
  width: var(--width-main);
  background-color: white;
  clear: left;
  float: left;
  padding: 30px var(--padding-left);
  box-sizing: border-box;
}

main {
  padding-bottom: calc(var(--height-footer) + 40px);
}

main ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 15px;
}

main ul li {
  list-style: inherit;
}
