nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  background-color: var(--color-blue);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem 1rem;
}

nav ul li {
  line-height: 1.2;
  text-align: center;
}

nav ul li a {
  color: white;
  font-size: var(--font-size-menu);
}

nav ul li a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  nav {
    border-left: 2px solid var(--color-light-blue);
  }
}
