@import url(base.css);
@import url(reset.css);
@import url(header.css);
@import url(nav.css);
@import url(main.css);
@import url(aside.css);
@import url(footer.css);
@import url(btn.css);
@import url(stats.css);
@import url(gallery.css);
@import url(news.css);
@import url(reviews.css);
@import url(form.css);

body {
  max-width: var(--max-width);
  margin-inline: auto;
  background-color: var(--color-background-white);
  color: black;
  font-family: var(--font-family);
  font-size: var(--font-size-p);
}

h2 {
  font-size: var(--font-size-h2);
}

h2,
h3 {
  color: var(--color-light-blue);
  margin-bottom: 15px;
  margin-top: 30px;
}

p {
  margin-bottom: 15px;
  line-height: 1.5;
}

body {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
}

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}

@media (min-width: 768px) {
  body {
    grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
    grid-template-areas:
      "header nav"
      "main   main"
      "aside  footer";
  }
}

@media (min-width: 1024px) {
  body {
    grid-template-columns: minmax(0, 25fr) minmax(0, 11fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header nav"
      "main   aside"
      "main   footer";
  }
}
