@import url(base.css);
@import url(reset.css);
@import url(aside.css);
@import url(footer.css);
@import url(main.css);
@import url(nav.css);

body {
  margin: auto;
  max-width: var(--width);
  width: var(--width);
  margin: 0 auto;
  position: relative;
  background-color: var(--color-background-white);
  color: black;
  font-family: var(--font-family);
  font-size: var(--font-size-p);
  overflow: hidden;
}

h2 {
  font-size: 32px;
}

h2,
h3 {
  color: var(--color-light-blue);
  margin-bottom: 15px;
  margin-top: 30px;
}

p {
  margin-bottom: 15px;
  line-height: 1.5;
}

